*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

.env

# Any AWS config files to be saved but not used for code
fargatetask.json 
Dockerrun.aws.json

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

appsettings.*.json
*appsettings.*.json
*appsettings/json

# For local deployments to AWS EBS from Visual Studio AWS Toolkit
ProWebbCore/ProWebbCore.Api/aws-beanstalk-tools-defaults.json

# Visual Studio 2015
ProWebbCore/.vs/

*/node_modules