@page "/resume/{UserId}"
@inherits ResumeBase

<section class="resume">
    <h1 class="page-title">Resume for @User.FirstName @User.LastName</h1>

    @{
        var leadingFormat = "00000";
        //var a = User.UserId.ToString("00000");
    }

</section>